.App {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 26.4px;
}

html {
  background-color: rgb(120,120,120);
}
